body {
    font-family: Arial, sans-serif;
    background-color: #363535;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color:#ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

h1, h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultadosAnteriores {
    margin-top: 20px;
}

#historico {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    color: #555;
}

#historico li {
    margin-bottom: 5px;
}
