body {
    font-family: Arial, sans-serif;
    background-color: #363535;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px; /* Adicionando um pouco de padding */
}

.container {
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; /* Ajusta para 100% da largura */
    max-width: 500px; /* Limita a largura máxima */
}

h1, h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%; /* Ajusta para 100% da largura */
    max-width: 300px; /* Limita a largura máxima */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ajusta para 100% da largura */
    max-width: 300px; /* Limita a largura máxima */
}

button:hover {
    background-color: #45a049;
}

#resultadosAnteriores {
    margin-top: 20px;
}

#historico {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    color: #555;
}

#historico li {
    margin-bottom: 5px;
}

/* Media Query para telas menores */
@media (max-width: 375px) { /* Largura do iPhone 14 */
    h1, h2 {
        font-size: 20px; /* Reduz o tamanho do texto */
    }

    p {
        font-size: 16px; /* Reduz o tamanho do parágrafo */
    }

    input, button {
        font-size: 14px; /* Ajusta o tamanho da fonte */
        padding: 8px; /* Ajusta o padding */
    }
}
